# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# SQLite Database
league.db
league.db-journal

# OS Specific
.DS_Store
